#adminModal.modal.fade{"aria-hidden" => "true", 
  "aria-labelledby" => "adminModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h4.modal-title Admin Settings:
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal",
        :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .row
          .col-12
            .panel-group
              .panel.panel-default
                .panel-heading
                  %h5.panel-title
                    %a{"data-toggle" => "collapse", :href => "#cAddUser"} Add User
            #cAddUser.panel-collapse.collapse
              %hr
              %form
                .panel-body
                  .form-group
                    %label Name:
                    %input.form-control
                  .form-group
                    %label E-Mail:
                    %input.form-control
                  .form-group
                    %label Password:
                    %input.form-control
                  .form-group
                    %label Repeat Password:
                    %input.form-control
                .panel-footer
                  %button.btn.btn-secondary Abort
                  %button.btn.btn-success Add
            %hr
            .panel-group
              .panel.panel-default
                .panel-heading
                  %h5.panel-title
                    %a{"data-toggle" => "collapse", :href => "#cChangeUser"} Change User
            #cChangeUser.panel-collapse.collapse
              %hr
              %form
                .panel-body
                  .form-group
                    %label Select User:
                    %select.from-control
                  .form-group
                    %label New Name:
                    %input.form-control
                  .form-group
                    %label New Mail:
                    %input.form-control
                  .form-group
                    %label Password:
                    %input.form-control
                  .form-group
                    %label Repeat Password:
                    %input.form-control
                .panel-footer
                  %button.btn.btn-secondary Abort
                  %button.btn.btn-warning Change

            %hr
            .panel-group
              .panel.panel-default
                .panel-heading
                  %h5.panel-title
                    %a{"data-toggle" => "collapse", :href => "#cDelUser"} Delete User
            #cDelUser.panel-collapse.collapse
              %hr
              %form
                .panel-body
                  .form-group
                    %label Select User:
                    %select.from-control
                .panel-footer
                  %button.btn.btn-secondary Abort
                  %button.btn.btn-danger Delete

      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal",
          :type => "button"} Close
