%h2 Bandcamp Settings:
%div{:class => "form-group ml-1"}
  %label Download folder:
  %input{:name => "folder_download", :class => "form-control", 
  :value => yml.bc['folder']['download']}
%div{:class => "form-group ml-1"}
  %label Temp folder:
  %input{:name => "folder_temp", :class => "form-control", :value => yml.bc['folder']['temp']}
%div{:class => "form-group ml-1"}
  %label Download as MP3 file?
  %select{:name => "to_mp3", :class => "form-control"}
    - if yml.bc['to_mp3'] == false
      %option{:value => 0, :selected => "selected"} false
    - else 
      %option{:value => 0} false
    - if yml.bc['to_mp3'] == true
      %option{:value => 1, :selected => "selected"} true
    - else 
      %option{:value => 1} true
%h4 Youtube-dl settings for Bandcamp:
%div{:class => "form-group ml-1"}
  %label Path to youtube-dl executable:
  %input{:name => "ytdl_path", :class => "form-control",
  :value => yml.yt_dl['path']}
%div{:class => "form-group ml-1"}
  %label Options:
  %input{:name => "ytdl_options", :class => "form-control",
  :value => yml.yt_dl['options']}
%div{:class => "form-group ml-1"}
  %label Prefixes:
  %input{:name => "ytdl_prefixes", :class => "form-control", 
  :value => yml.yt_dl['prefixes']}
