%h2 #{yml.sel_bot['mumble']['name']} Settings
%div.form-group.ml-1
  %label Debug:
  %select.form-control
%div.form-group.ml-1
  %label Language:
  %input.form-control
%h4 Main
%div.form-group.ml-1
  %label Logfile:
  %input.form-control
%div.form-group.ml-1
  %label Ducking:
  %select.form-control
%div.form-group.ml-1
  %label Automute if alone:
  %select.form-control
%div.form-group.ml-1
  %label Stop on unregistered:
  %select.form-control
%div.form-group.ml-1
  %label Whitelist enabled:
  %select.form-control
%div.form-group.ml-1
  %label File info:
  %input.form-control

%h4 Control
%div.form-group.ml-1
  %label Command sign:
  %input.form-control
%div.form-group.ml-1
  %label Private only:
  %select.form-control
%div.form-group.ml-1
  %label Registered only:
  %select.form-control
%div.form-group.ml-1
  %label Historysize:
  %select.form-control

%h4 User Config
%div.form-group.ml-1
  %label Whitelisted:
  %input.form-control
%div.form-group.ml-1
  %label Superuser:
  %input.form-control
%div.form-group.ml-1
  %label Banned:
  %input.form-control
%div.form-group.ml-1
  %label Bound:
  %input.form-control

%h4 Mumble
%div.form-group.ml-1
  %label Botname:
  %input.form-control{:value => yml.sel_bot['mumble']['name']}
%div.form-group.ml-1
  %label Murmur Server:
  %input.form-control
%div.form-group.ml-1
  %label Port:
  %input.form-control
%div.form-group.ml-1
  %label Server password:
  %input.form-control
%div.form-group.ml-1
  %label Default Channel:
  %input.form-control
%div.form-group.ml-1
  %label Use VBR:
  %input.form-control
%div.form-group.ml-1
  %label Bitrate:
  %input{:class => "form-control", :type => "number"}


