%meta{:charset => "utf-8"}
%meta{:name => "viewport", :content => "width=device-width", :"initial-scale" => "1.0"}
%meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
%title Mumble Pluginbot
%link{:rel => "shortcut icon", :type => "image/png", :href => html.favicon}
%link{:rel => "stylesheet", :type => "text/css", :href => html.bootstrap}
%link{:rel => "stylesheet", :type => "text/css", :href => html.style}
%script{:type => "text/javascript", :src => html.jquery}
%script{:type => "text/javascript", :src => html.script}
%script{:type => "text/javascript", :src => html.bootstrapjs}
