%form.form-signin{:method => "POST"}
  %h3 Idle
  %div.form-group.ml-1
    %label Max idle time:
    %input.form-control{:name => "maxidletime", 
      :value => yml.idl['maxidletime']}

  %div.form-group.ml-1
    %label Idle action:
    %select.form-control{:name => "idleaction"}
      - if yml.idl['idleaction'] == yml.idl['action']['deafen']
        %option{:value => "deafen", :selected => "selected"} deafen
        %option{:value => "channel"} channel
      - else 
        %option{:value => "deafen"} deafen
        %option{:value => "channel", :selected => "selected"} channel
  = haml :savebtn
