!!!
%html
  %head
    = haml :head

  %body
    = haml :menu

    %div{:class => "container-fluid mt-3"}
      %form{:class => "form-signin", :method => "POST"}
        = haml :"#{@index_content}"
        %button{:class => "btn btn-danger mt-2 mb-5", :id => "submit"} Save changes

    %footer{:class => "fixed-bottom bg-danger text-center"}
      %a{:class => "text-light", 
        :href => "https://github.com/Shadowsith/mumble-ruby-pluginbot"} 
        Fork me on Github! | MIT License | 2019
