!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width", :"initial-scale" => "1.0"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %title Mumble Pluginbot
    %link{:rel => "shortcut icon", :type => "image/png", :href => html.favicon}
    %link{:rel => "stylesheet", :type => "text/css", :href => html.bootstrap}
    %link{:rel => "stylesheet", :type => "text/css", :href => html.style}
    %link{:rel => "stylesheet", :type => "text/css", :href => html.font}
    %script{:type => "text/javascript", :src => html.jquery}
    %script{:type => "text/javascript", :src => html.script}
    %script{:type => "text/javascript", :src => html.bootstrapjs}

  %body
    %header
      %nav{:class => "navbar navbar-expand navbar-dark bg-danger"}
        %a{:class => "navbar-brand", :href => "#"}
          %img{:src => html.brand, :width => "30", :height => "30"}
        %a{:class => "navbar-brand", :href => "#"} Pluginbot
        %div{:class => "collapse navbar-collapse"}
          %ul{:class => "navbar-nav"}
            %li{:class => "nav-item"}
              %a{:class => "nav-link active", :href => "#"} Settings
            %li{:class => "nav-item"}
              %a{:class => "nav-link", :href => "#"} Help
            %li{:class => "nav-item"}
              %a{:class => "nav-link", :href => "#"} Fork me on GitHub!

    %div{:class => "container-fluid mt-3"}
      %h2 Instance Settings
      %div{:class => "form-group ml-1"}
        %label Path to bot yml config:
        %input{:class => "form-control"}
      %div{:class => "form-group ml-1"}
        %label Path to manage.sh:
        %input{:class => "form-control"}
      %div{:class => "form-group ml-1"}
        %label Path to temp directory:
        %input{:class => "form-control"}
      %div{:class => "form-group ml-1"}
        %label Path to log file:
        %input{:class => "form-control"}
      %div{:class => "form-group ml-1"}
        %label Cert folder:
        %input{:class => "form-control"}
      %div{:class => "form-group ml-1"}
        %label MPD Fileinfo:
        %input{:class => "form-control"}
      %div{:class => "form-group ml-1"}
        %label Path to logo:
        %input{:class => "form-control"}

      %h4 Control
      %div{:class => "dropdown"}
        %label Debug logs:
        %br
        %button{:class => "btn btn-default dropdown-toggle col-sm-2", :type => "button", 
          :"data-toggle" => "dropdown"}
          %ul{:class => "dropdown-menu", :role => "menu", :"aria-labelledby" => "menu1"}
            %li{:role => "presentation"}
              %a{:role => "menuitem", :tabindex => "-1", :href => "#"} true
            %li{:role => "presentation"}
              %a{:role => "menuitem", :tabindex => "-1", :href => "#"} false




      %h4 Mumble
      %div{:class => "form-group ml-1"}
        %div{:class => "row"}
          %div{:class => "col-sm-7"}
            %label Nickname:
          %div{:class => "col-sm-5"}
            %label Password:
        %div{:class => "row"}
          %div{:class => "col-sm-7"}
            %input{:class => "form-control"}
          %div{:class => "col-sm-5"}
            %input{:class => "form-control"}

      %div{:class => "form-group ml-1"}
        %div{:class => "row"}
          %div{:class => "col-sm-7"}
            %label Mumble-Server Address:
          %div{:class => "col-sm-5"}
            %label Port:
        %div{:class => "row"}
          %div{:class => "col-sm-7"}
            %input{:class => "form-control"}
          %div{:class => "col-sm-5"}
            %input{:class => "form-control"}

      %div{:class => "form-group ml-1"}
        %div{:class => "row"}
          %div{:class => "col-sm-6"}
            %label Default channel:
          %div{:class => "col-sm-4"}
            %label Bitrate:
          %div{:class => "col-sm-2"}
            %label Use VBR:
        %div{:class => "row"}
          %div{:class => "col-sm-6"}
            %input{:class => "form-control"}
          %div{:class => "col-sm-4"}
            %input{:class => "form-control"}
          %div{:class => "col-sm-2"}
            %input{:class => "form-control"}

      %h4 Logs
      %h4 User Config
      %div{:class => "form-group ml-1"}
        %label Whitelisted:
        %input{:class => "form-control"}

      %div{:class => "form-group ml-1"}
        %label Superuser:
        %input{:class => "form-control"}

      %div{:class => "form-group ml-1"}
        %label Banned:
        %input{:class => "form-control"}

      %div{:class => "form-group ml-1"}
        %label Bound:
        %input{:class => "form-control"}

      %h4 MPD
      %div{:class => "form-group ml-1"}
        %label Bound:
        %input{:class => "form-control"}




      %button{:class => "btn btn-danger mt-2"} Save changes

    %footer

