%header

  %nav.navbar.navbar-expand-lg.navbar-dark.bg-danger
    %a{:class => "navbar-brand", :href => "#"}
      %img{:src => html.brand, :width => "30", :height => "30"}
    %a.navbar-brand{:href => "#"} Pluginbot
    %button.navbar-toggler{"data-target" => "#menu", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %div#menu.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item.dropdown
          %a#mdrop.nav-link.dropdown-toggle{:href => "#",
            :"data-toggle" => "dropdown", :"aria-haspopup" => "true", 
            :"aria-expanded" => "false"} Settings
          %div.dropdown-menu{:"aria-labelledby" => "mdrop"}
            %a.dropdown-item{:href => "/index"} Global
            %a.dropdown-item{:href => "/mpd"} MPD
            %a.dropdown-item{:href => "/youtube"} Youtube
            %a.dropdown-item{:href => "/bandcamp"} Bandcamp
            %a.dropdown-item{:href => "/mixcloud"} Mixcloud
            %a.dropdown-item{:href => "/ektoplazm"} Ektoplazm
            %a.dropdown-item{:href => "/soundcloud"} SoundCloud
            %a.dropdown-item{:href => "/googletts"} GoogleTTS
            %a.dropdown-item{:href => "/picotts"} PicoTTS
            %a.dropdown-item{:href => "/idle"} Idle
        %li.nav-item.dropdown
          %a#botInstances.nav-link.dropdown-toggle{:href => "#",
            :"data-toggle" => "dropdown", :"aria-haspopup" => "true", 
            :"aria-expanded" => "false"} Bots
          %div.dropdown-menu{:"aria-labelledby" => "botInstances"}
            - yml.bots.each do |b|
              %a.dropdown-item{:href => "/#{b['mumble']['name']}"} 
                #{b['mumble']['name']}
        %li.nav-item
          %a.nav-link{:href => "#"} Help
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => "/logout"} Logout
