%form.form-signin{:method => "POST"}
  %h3 MPD:
  %hr
  %div.form-group.ml-1
    %label Test pipe:
    %select.form-control{:name => "testpipe"}
      - if yml.mpd['testpipe'] == true
        %option{:value => "true", :selected => "selected"} true
        %option{:value => "false"} false
      - else 
        %option{:value => "true"} true
        %option{:value => "false", :selected => "selected"} false
  %div.form-group.ml-1
    %label Volume:
    %input.form-control-range{:name => "volume", :type => "range", 
      :min => "0", :max => "100", :value => yml.mpd['volume']}
  %br

  %h4 Connetion:
  %hr
  %div.form-group.ml-1
    %label Host:
    %input.form-control{:name => "host", :value => yml.mpd['host']}
  %div.form-group.ml-1
    %label Port:
    %input.form-control{:name => "port", :value => yml.mpd['port']}
  %div.form-group.ml-1
    %label Music folder:
    %input.form-control{:name => "musicfolder", :value => yml.mpd['musicfolder']}
  %br

  %h4 Templates:
  %hr
  %div.form-group.ml-1
    %label Enabled:
    %input.form-control{:name => "enabled", :value => yml.mpd['template']['comment']['enabled']}
  %div.form-group.ml-1
    %label Disabled:
    %input.form-control{:name => "disabled", :value => yml.mpd['template']['comment']['disabled']}
  = haml :savebtn
