%form.form-signin{:method => "POST"}
  %h3 PicoTTS:
  %div.form-group.ml-1
    %label Language:
    %select.form-control{:name => "lang"}
      - yml.ptts["options"].each do |opt|
        - if yml.ptts["lang"] == opt["lang"]
          %option{:value => opt["lang"], :selected => "selected"} #{opt["desc"]}
        - else 
          %option{:value => opt["lang"]} #{opt["desc"]}
  = haml :savebtn

