%h4 Enabled Plugins:
- for p in plugins.getEnabledPlugins 
  %div.row
    %div.col
      %h5 #{p}
    %div.col
      %form{:method => "post"}
        %button.btn.btn-danger Disable
  %hr
  %p
%h4 Disabled Plugins:
- for p in plugins.getDisabledPlugins
  %div.row
    %div.col
      %h5 #{p}
    %div.col
      %form{:method => "post"}
        %button.btn.btn-primary Enable
  %hr
  %p
%br
