%form.form-signin{:method => "POST"}
  %h3 SoundCloud:
  %div.form-group.ml-1
    %label Download folder:
    %input.form-control{:name => "folder_download", 
    :value => yml.sc['folder']['download']}
  %div.form-group.ml-1
    %label Temp folder:
    %input.form-control{:name => "folder_temp", 
      :value => yml.sc['folder']['temp']}
  %div.form-group.ml-1
    %label Download as MP3 file?
    %select.form-control{:name => "to_mp3"}
      - if yml.yt['to_mp3'] == true
        %option{:value => "true", :selected => "selected"} true
        %option{:value => "false"} false
      - else 
        %option{:value => "true"} true
        %option{:value => "false", :selected => "selected"} false
  %h4 Youtube-dl settings for SoundCloud:
  = haml :ytdl
  = haml :savebtn
