%form.form-signin{:method => "POST"}
  %h3 Youtube:
  %div.form-group.ml-1
    %label Download folder:
    %input.form-control{:name => "folder_download", 
    :value => yml.yt['folder']['download']}
  %div.form-group.ml-1
    %label Temp folder:
    %input.form-control{:name => "folder_temp",
      :value => yml.yt['folder']['temp']}
  %div.form-group.ml-1
    %label Stream:
    %input.form-control{:name => "stream", :value => yml.yt['stream']}
  %div.form-group.ml-1
    %label Download as MP3 file?
    %select.form-control{:name => "to_mp3"}
      - if yml.yt['to_mp3'] == true
        %option{:value => "true", :selected => "selected"} true
        %option{:value => "false"} false
      - else 
        %option{:value => "true"} true
        %option{:value => "false", :selected => "selected"} false
  %h4 Youtube-dl setting for Youtube:
  = haml :ytdl
  %div.form-group.ml-1
    %label Max results:
    %input.form-control{:name => "ytdl_maxresults", 
    :type => "number", :value => yml.yt_dl['maxresults']}
  = haml :savebtn
